body {
    background-image: url("images/aurora.jpg");
    background-position: left;    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 160% 120%;

}


/*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*/

@media (max-width: 1920px) {
    #left_nav li {
        list-style-type: none;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        margin-top: 25px;
        margin-right: 0;
    }
    .social{
        margin: 10px;
        margin-bottom: 200px;
    }

}

@media (max-width: 1035px) {

}

#left_nav li {
    list-style-type: none;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    transition: color 400ms;
    color: grey;
    box-shadow: none;
}

#left_nav {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    /*top: 0px;*/

}
a:hover{
    text-decoration: none;

}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family:'Lato';
    font-weight: 300;

}
.nav li {
    border-top: 1px grey solid;
    text-align: center;
    margin-right: 50px;
}
#heading {
    font-family: Armata;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 30px 0;
}

#em{
    height: 30px;
    margin-bottom: -4px;
}
#ln{
    height: 20px;
    margin-bottom: 5px;
}
.social{
    margin: 10px;
    margin-bottom: 120px;
}
.social a:hover {
    transition: border 400ms;
    border: 1px solid grey;
}
.social a {
    display: inline-block;
    border: 1px white solid;
    margin: 0 8px;
}
.social a >img{
    height: 25px;
    width: 25px;
    margin: 0 4px;
}

/*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*/

#me{
    height: 200px;
    width: 200px;
    margin-left: 130px;
    border: 3px solid white;
    border-radius: 100px;
    margin-top: 25px;
}

.aboutMeContent {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -11px;
    position: absolute;
    border-top: solid white 1px;
    /*display: none;*/
}



.title h1 {
    text-align: left;
    color: white;
    border-bottom: white solid 6px;
    font-family: Lato;
    display: inline-block;
    margin-top: auto;
}


.aboutMeContent h2 {
    font-family: Lato;
    font-weight: 700;
    text-align: left;
    color: white;
    display: block;

}

.aboutMeContent p {
    font-family: Lato;
    text-align: left;
    color: white;
    margin-right: 10vw;
}



/*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*/
.skills:not(.active){
    display: none;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.skillsDiv {
    background-color: darkslategray;
    border-radius: 40px;
    margin-top: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.skill{
    text-align: center;
    color: white;
    font-family: Armata;
}
.skillsDiv:hover{
    transition: 1s;
    background-color: grey;
}



/*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*/
.exp:not(.active) {
    display: none;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
}
.expContent{
    margin-top: -30px;
    font-family: Armata;
}

.expContent li {
    color: white;
}
#laFit{
    height: 80px;
    width: 80px;
}

#uniqlo{
    height: 50px;
    width: 100px;
}
#army {
    height: 80px;
    width: 80px;
}

#lps{
    height: 80px;
    width: 100px;
}
/*PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS*/
.projects:not(.active) {
    display: none;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
}
.projectsImage{
    height: 100%;
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
}
.projectsImageSec{
    height: 200px;
    width: 400px;

}
.projectsContent{
    color: white;
}
.projectsDiv {
    margin-top: 15px;
}
.projectsDescription > h4 {
    font-family: Armata;
    text-align: center;
}

.projectsContent p {
    font-family: Lato;
    font-size: 15px;
}
.projectsLinks {
    text-align: center;
}
.projectsLinks a{
    color: yellow;
    font-weight: bold;
}
.projectsLinks a:hover{
    color: white;
}
/*Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume Resume*/
.resume:not(.active){
    display: none;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
}

/*MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES*/
.active{
    display: auto;

}
@media (max-width: 991px) {
    .skillsDiv{
        margin-right: 100px;
    }
    #main {
        margin-left: 300px;
    }
    #me{
        margin-left: 0px;
    }
}
@media (min-width: 1500px){
    #me{
        margin-left: 200px;
    }
}
@media(min-width: 1920px){
    #me{
        margin-left: 300px;
    }
}
