body {
    background-image: url("images/aurora.jpg");
    background-position: left;    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 160% 120%;
    bac

}

/*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*//*NAVIGATOR*/

#left_nav li {
    list-style-type: none;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0;
}

.nav>li>a:hover, .nav>a:focus, .nav>li>a:active {
    background-color: transparent;
    transition: color 400ms;
    color: grey;
    box-shadow: none;
}

#left_nav {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    top: 0px;

}
a:hover{
    text-decoration: none;

}
li a{
    text-decoration: none;
    color: white;
    font-size:23px;
    font-family:'Lato';
    font-weight: 300;

    /*border-bottom: 3px black solid;*/
}
li {
    border-top: 1px grey solid;
    text-align: center;
    margin-right: 50px;
}
#heading {
    font-family: Armata;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 30px 0;
}

#em{
    height: 30px;
    margin-bottom: -4px;
}
#ln{
    height: 20px;
    margin-bottom: 5px;
}
.social{
    margin: 10px;
    margin-top: 120px;
}

.social a {
    display: inline-block;
    border: 1px white solid;
    margin: 0 8px;
}
.social a >img{
    height: 25px;
    width: 25px;
    margin: 0 4px;
}

/*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*/


.aboutMeContent {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -11px;
    position: absolute;
    border-top: solid white 1px;
    /*display: none;*/
}



.title h1 {
    text-align: left;
    color: white;
    border-bottom: white solid 6px;
    font-family: Lato;
    display: inline-block;

}


.aboutMeContent h2 {
    font-family: Lato;
    font-weight: 700;
    text-align: left;
    color: white;
    display: block;

}

.aboutMeContent p {
    font-family: Lato;
    text-align: left;
    color: white;
    margin-right: 10vw;
}



/*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*//*SKILLS PAGE*/

.skillsImg {
    height: 20px;
    width: 20px;
}




/*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*//*EXPERIENCE PAGE*/

.exp_main {
    color: white;
    font-family: Lato;
    margin-left: 80px;
    margin-right: 100px;
    margin-top: -22px;
    position: absolute;
    border-style: solid;
    color: lightslategray;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    padding-top: 6px;
}

.exp_main p {
    color: white;
    margin-right: 10vw;
}

.exp_main li {
    font-size: 25px;
    list-style-type: upper-roman;
    font-weight: 700;
    color: white;
}
